openai==1.58.1
paramiko==3.4.0
pillow==10.4.0
pyyaml==6.0.1
sacrebleu==2.0.0
semgrep==1.51.0
tqdm==4.66.3
typing-extensions==4.11.0
langchain-core==0.3.49
tree-sitter==0.24.0
tree-sitter-cpp==0.23.4
async_lru==2.0.5
boto3==1.37.31
pypdf==6.0.0
pdf2image==1.17.0
setuptools==78.1.1
